* {
    box-sizing: border-box;
}
a:active, a:visited, a:link {
    text-decoration: none;
    color: black;
}

/* CHIRP CONTAINER CHIRP CONTAINER CHIRP CONTAINER CHIRP CONTAINER */
#chirp-list {
    cursor: initial;
}
#chirp-grid {
    display: block;
    border: 2.5px solid rgb(66,139,202);
    background-color: rgb(249,249,249);
    /*padding: .1% .1% .1% .1%;*/
    /*margin: 1% 1% 1% 1%;*/
    height: 11em;
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0.45em;
    margin-bottom: 0.5em;
    cursor: initial;
}
/*#chirp-grid::after {
    content: "";
    clear: both;
    display: table;
}*/

/* CHIRP SKELETON CHIRP SKELETON CHIRP SKELETON CHIRP SKELETON */
.container-l {
    width: 84.99%;
    height: 100%;
    /*border: 1px solid blue;*/
    /*height: 10em;*/
    background-color: rgb(249,249,249);
    float: left;
    border-right: 3px solid rgb(66,139,202);
    overflow: hidden;
    cursor: initial;
}
.container-r {
    width: 15%;
    height: 100%;
    /*border: 1px solid orange;*/
    float: left;
    
    /*margin-left: 1%;*/
}

/* CHIRP FRAME CHIRP FRAME CHIRP FRAME CHIRP FRAME */

.chirp-drawer-top {
    background-color: rgb(249,249,249);
    height: 19%;
    padding: 1.1% 1.1% 1.1% 1.1%;
    margin: .25% .25% .25% .25%;
    /*border: 1px dashed brown;*/
}
.chirp-drawer-bottom {
    background-color: rgb(249,249,249);
    height: 19%;
    padding: 1.1% 1.1% 1.1% 1.1%;
    margin: .25% .25% .25% .25%;
    /*border: 1px dashed brown;*/
}
#chirp-message {
    height: 57%;
    margin: .5% -1% .5% 20%;
    border-radius: .45em;
    /*border: 1 px solid black;*/
    /*padding: 2em 2em 2em 2em;*/
    background-color: rgba(190, 197, 214, 0.4);
    overflow: hidden;
}
.chirp-nav {
    float: left;
    height: 100%;
    width: 100%;
    background-color: rgb(91,192,222);
    margin-right: -3em;
    /*border: 2px solid rgb(66,139,202);*/
}

/* CHIRP INSIDES CHIRP INSIDES CHIRP INSIDES CHIRP INSIDES */

#top-left {
    height: 1.8em;
    width: 50.7%;
    float: left;
    padding: .1% .1% .1% .1%;
    /*margin-right: 1%;*/
    margin-top: -.3em;
    margin-left: -.3em;
    /*border: 1px solid black;*/
    background-color: rgb(249,249,249);
    border-bottom: 1.5px dotted rgb(92,184,92);
}
#top-left h4 {
    margin-top: 2.5%;
    font-family: 'Verdana', sans-serif;
    font-size: 75%;
    font-style: oblique;
}
#top-right {
    height: 1.8em;
    width: 50.7%;
    float: right;
    /*border: 1px solid black;*/
    background-color: rgb(249,249,249);
    padding: .2% .2% .2% .2%;
    margin-top: -.3em;
    margin-right: -.3em;
}
#chirp-message {
    height: 57%;
    margin: .5% -1% .5% 20%;
    border-radius: .45em;
    /*border: 1 px solid black;*/
    /*padding: 2em 2em 2em 2em;*/
    background-color: rgba(190, 197, 214, 0.4);
    overflow: hidden;
}
#chirp-message p {
    margin: auto;
    /*text-align: center;*/
    padding: 1%;
}
.chirp p {
    width: 93%;
    margin: 0% auto;
    margin-bottom: 3em;
}
#bottom-left {
    height: 1.8em;
    width: 50.7%;
    /*border: 1px solid black;*/
    /*clear: both;*/
    float: left;
    margin-top: -.3em;
    margin-left: -.3em;
}
#bottom-right {
    height: 1.8em;
    width: 50.7%;
    /*border: 1px solid black;*/
    float: right;
    margin-top: -.3em;
    margin-right: -.3em;
}
.date {
    list-style-type: none;
    font-style: oblique;
    color: rgba(0, 0, 0, .8);
    /*color: rgba(223, 173, 179, 0.73);*/
    /*margin-left: 75%;*/
    padding: 2% 1% 0 0;
    font-size: 0.9em;
    float: right;
}
/* right right right right right right right right */
#top {
    height: 49.99%;
    width: 100%;
    border-bottom: 1.5px solid rgb(190, 197, 214);
}
#top:hover {
    background-color: rgb(66,139,202);
}
#bottom {
    height: 49.99%;
    width: 100%;
    border-top: 1.5px solid rgb(190, 197, 214);
    /*border: 2px solid rgb(66,139,202);*/
    /*border-radius: 0.3em;*/
    /*padding: .1% .1% .1% .1%;
    margin: 1% 1% 1% 1% 1%;*/
}
#bottom:hover {
    background-color: rgb(66,139,202);
}
.nav-option {
    font-family: 'Verdana', sans-serif;
    color: white;
    padding: .1% .1% .1% .1%;
    margin: 30% 30% 30% 25%;
}
.nav-option-top {
    font-family: 'Verdana', sans-serif;
    color: white;
    margin: -.1% -.1% -.1% -.1%;
    padding: 28%;
}