<!DOCTYPE html>
<html>

<head>
    <title>Chirper</title>
    <link rel="stylesheet" href="/styles/grid_list.css">
    <link rel="stylesheet" href="/styles/chirps.css">
    <link rel="stylesheet" href="/styles/chirp_controls.css">
</head>

<body>
<div class="container">
   <!--<div class="row">
       <div class="col-2"></div>
       <div class="col-3"></div>
       <div class="col-4"></div>
   </div>-->
   <div class="row">
       <div class="col-2">
            <div class="author-box">
            <div class="header">
            <img id="chirp-icon" src="/images/red_bird.png"/>
            <img id="chirper-text" src="/images/thonburi.png"/>
            </div>
            <div class="a-body">
            <select id="user-selector">
            <option value="">Select a User</option>
            </select>
            <textarea id="chirp-field" rows="7" cols="20" wrap: "soft" maxlength="140"></textarea>
            <button id="chirp-btn" disabled>Chirp</button>
            </div>
        </div>
       </div>
       <div class="col-3">
           <div id="chirp-list"></div>
       </div>
       <div class="col-4"></div>
   </div>
   <!--<div class="row">
       <div class="col-2"></div>
       <div class="col-3"></div>
       <div class="col-4"></div>
   </div>-->
</div>

    <!--<div class="page-container-left">
        <div class="chirp-box">
            <div class="header">
            <img id="chirp-icon" src="/images/red_bird.png"/>
            <img id="chirper-text" src="/images/text-logo.png"/>
            </div>
            <div class="row-1">
            <input type="text" placeholder="Write your chirp here!" id="chirp-field" maxlength="140">
            <select id="user-selector">
            <option value="">Select a User</option>
            </select>
            <textarea id="chirp-field" rows="7" cols="20" wrap: "soft" maxlength="140"></textarea>
            <button id="chirp-btn" disabled>Chirp</button>
            </div>
            <img id="logo" src="/images/bird_white.png"/>
        </div>
    </div>
    <div class="page-container-center">
        <div id="chirp-list"></div>
    </div>
    </div>
    <div class="page-container-right">
        <div id="perma-box">
            <img id="chirp-icon" src="/images/red_bird.png"/>
            </div>
    </div>-->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="/scripts.js"></script>
</body>

</html>